body {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    color: #7d97ad;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width:100%;
}



hr {
    width: 100%;
    margin: 0;
    height: 2px;
    background-color: #7d97ad;
}

a {
    font-size: 16px;
    color: #2d3c49;
}

.container {
    margin: 0 auto;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .works{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 840px) {
    .col-33 {
      width: calc((100% - 20px)/2);
    }
}

@media only screen and (min-width: 1200px) {
    .container {
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }

    img.displayed {
        display: block;
        margin: 0 auto;
    }

    .col-33 {
      width: calc((100% - 20px)/3);
    }

    .col-33:last-of-type {
      margin-right: 0;
    }
}

.row {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.col-20 {
    width: 20%;
    margin-top: 20px
}

.col-80 {
    width: 80%;
    text-align: right;
}

.title {
    font-size: 40px;
}

.col-33 {
    text-align: center;
    color: #2d3c49;
    margin-right: 10px;
}

.footer {
  text-align: center;
  margin: 20px;
}
